:root {
  --shadow: rgba(0, 0, 0, 0.411) 0px 2px 4px;;
  --radius: 20px;
  --radiusBig: 40px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 62px;
}

main {
  /* margin-top: 105px; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#ourCoursesTitles {
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
#ourCoursesTitles > div > i {
  margin: 35px;
  font-size: 72px;
  transform: rotate(90deg);
}

#slideShow.splide {

  width: 100%;
  margin: 25px auto;
}

#slideShow .splide__slide img {
  width: 100%;
  height: 500px;

  object-fit: cover;
}

#mathCardContainer, #designCardContainer {
  position: relative;
  margin: 50px 0;

  width: 100%;
  height: 525px;
  
}

#mathCardContainerShadow, #designCardContainerShadow {
  border-radius: var(--radiusBig);
  box-shadow: var(--shadow);
  width: 100%;
  height: 425px;
   position: absolute;
  right: 0;
  width: 95%;
  height: 100%;
}
#mathCardContainer h2, #designCardContainer h2 {
  padding: 35px 0 0 55px;
  font-size: 62px;
  color: rgba(0, 0, 0, 0.82);
}

#mathFlex > *, #designFlex > * {

  box-sizing: border-box;
  margin: 25px;
}

#mathFlex,#designFlex {
  position: relative;
  left: -7.8%;
  width: 105.8%;
display: flex;
justify-content: space-between;
/* align-items: stretch; */
}

#mathImg,#designImg {

  height: 350px;
  width: 180px;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}



.courseSlides.splide {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;

  flex-grow: 3;
  float: right;
  /* width: 10px; */
  height: 350px;
}

.splide__list > .splide__slide img {

  

	width : 60%;
	height: 350px;
  object-fit: cover;
  /* object-position: 100% 70%; */
}

.splide__slide, .instructorBio {
  display: flex;
  flex-direction: column;
}

.instructorBio :first-of-type(img) {
  width: 35px;
}

.courseButton {
  background-color: rgb(40, 223, 153);
  padding: 25px 60px;
}
footer {
  margin-top: 400px;
}