#JoinUs fieldset
{
padding: 20px;
position: relative;
width: 80%;
margin: 50px;
margin-right: auto;
animation: mymove 2s infinite;
animation-iteration-count: 1;
}
@keyframes mymove {
    0% {left: -50px;}
    50% {left: 50px;}
    100%{left: 0px;}
  }
  #formCont{
    box-shadow: var(--shadowBig);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    }

h2{
color:  var(--mainColor);
text-shadow: var(--shadowBig);
font-weight: 500;

  }
.icon {
    padding: 10px;
    background: var(--mainColor);
    color: white;
    min-width: 50px;
    text-align: center;
    border: 1 solid black;
  }
  #ico{
    padding: 10px;
    background: var(--mainColor);
    color: white;
    min-width: 50px;
    text-align: center;
    border: 1 solid black;
    
  }
 #JoinUs fieldset input
{
    display: inline;
    border-radius: 20px;
    width: 60%;
    padding: 10px;
    margin-top: 5px;

} 
#JoinUs fieldset input[type=text]:focus
{
 
    border-radius: 30px;
    border: var(--mainColor) solid 5px;
    width: 70%;
    padding: 10px;
    margin-top: 5px;

}

#JoinUs fieldset input[type=email]:focus
{
    border-radius: 30px;
    border:var(--mainColor) solid 5px;
    width: 70%;
    padding: 10px;
    margin-top: 5px;
}

#JoinUs fieldset input[type=submit]{
    display: inline-block;
    margin-left: 25%;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    background-color: var(--mainColor);
    box-shadow: var(--shadowBig);
    color: white;
    font-weight: 400;
}

#JoinUs fieldset input[type=submit]:hover{
    background-color: var( --mainColor_sub1);
}

