
header {
    z-index: +100;

  background-color: lightgrey;
  height: 80px;

  position: fixed;
  top: 0;
  width: 100%;
}

main {
    margin-top: 100px;
}

header img {
  float: left;
}

header nav {
  margin-top: 30px;
  margin-left: 300px;
  display: inline-block;
}
header ul li {
  display: inline-block;
  margin-left: 100px;
}
header ul li a {
  text-decoration: none;
}

footer {
    z-index: +100;
    
    background-color: lightgrey;
    height: 80px;
  }
footer h4 {
  padding: 10px;
  text-align: center;
}

footer div {
  margin-left: 620px;
}
footer i {
  margin-left: 10px;
}
